
nav ul > li {
    padding: 2rem;
    display: inline-block;
}
nav li {
    padding-left: 2rem;
}

main {
    padding: 2rem;

}

footer {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer img {
    width: 1.6rem;
}
